.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    top: 50%;
    transform: translate(-150%, -50%);
    width: 25px;
    height: 25px;
    color: black;
}

.searchButton:active {
    opacity: 0.6;
}

.searchInput {
    height: 35px;
    border-radius: 25px;
    padding: 5px 30px 5px 20px;
    font-size: 1rem;
}